{% extends 'base.html' %}

{% block styles %}

<style type="text/css">
body{

}


h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;

}


#task-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;

  margin-top:100px;
  margin-bottom:100px;

  justify-content: space-around;
  align-items: flex-start;

}

#form-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px;
}

#submit{
  background-color: #36d9b6;
  border-radius: 0;
  border:0;
  color: #fff;
}

.flex-wrapper{
    display: flex;
}

.task-wrapper{
    margin:5px;
    padding: 5px;
    padding:20px;
    cursor: pointer;
    border-bottom: 1px solid  #e9e9e9;
    color: #686868;
    }

</style>

{% endblock %}




{% block content %}

    <div class="container">
        <div id="task-container">
            <div id="form-wrapper">
                <form id="form">
                    <div class="flex-wrapper">
                        <div style="flex: 6">
                            <input id="title" class="form-control" type="text" name="title" placeholder="Add task">
                        </div>
                        <div style="flex: 1">
                            <input id="submit" class="btn" type="submit" >
                        </div>
                    </div>
                </form>
            </div>

            <div id="list-wrapper">

            </div>
        </div>
    </div>


    <div class="container" style="max-width:600px;">
        Tasks from the last 7 days:
        <ul class="list-group" id="batch-wrapper">

        </ul>
    </div>



    <!-- Modal -->
    <div class="container" id="batchModal">
        <div class="modal fade" id="exampleModal" style="margin-top: 200px; max-height: 600px;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="batchTitle"></h5>
              </div>
              <div class="modal-body" id="body">

              </div>
              <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript">


        var activeItem = null
        var list_snapshot = []

        renderList()
        renderBatch()

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        function renderBatch(){
            var batchGroup = document.getElementById('batch-wrapper')
            var url = "{% url 'api:batch-list' %}"

            fetch(url)
            .then((response) => response.json())
            .then(function(data){
                var batchList = data

                for (var index in batchList){


                // di ko alam kung para san to
                try{
                    document.getElementById(`batch-row-${index}`).remove()
                }catch(err){

                }

                    var batch = `

                        <li class="list-group-item" style="display:flex; cursor:pointer;" id="batch-row-${index}">
                            <div style="flex: 5">
                                ${batchList[index].batch}
                            </div>

                            <div style="flex: 0.5">
                                <i class="fas fa-expand view" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            </div>


                        </li>

                    `
                    batchGroup.innerHTML += batch

                }

                for (var batch in batchList){

                    var viewButton = document.getElementsByClassName("view")[batch]

                    viewButton.addEventListener("click", (function(batch){
                        return function(){
                            viewBatch(batch)
                        }
                    })(batchList[batch]))
                }
            })
        }

        function viewBatch(batch){

            var myModal = document.getElementById('batchModal')
            var title = document.getElementById('batchTitle')
            var body = document.getElementById('body')
            var xBtn = document.getElementById("xButton")
            var closeBtn = document.getElementById("closeButton")

            console.log(batch)

            var url = `http://localhost:8000/api/task-batch/${batch.id}/`

            fetch(url)
            .then((response) => response.json())
            .then(function(data){
                body.innerHTML = ""
                taskperbatchlist = data
                myModal.addEventListener('shown.bs.modal', function () {
                title.innerHTML = `Tasks from ${batch.batch}`
                    if (taskperbatchlist.length == 0){
                        body.innerHTML = `<small class="text-muted">No task created for this day.</span>`
                    }
                    for (var task in taskperbatchlist){
                        // para di dumodoble ung content pag nirerender ung get request
                        try{
                            document.getElementById(`taskbatch-row-${task}`).remove()
                        }catch(err){

                        }
                        var checkBox = `<span style="color: Green"><i class="fas fa-check-circle statuscheckbox"></i></span>`
                        if(taskperbatchlist[task].completed == false){
                            checkBox = `<span style="color: Black"><i class="fas fa-times-circle statuscheckbox"></i></span>`
                        }


                        var item = `

                            <li style="display:flex; cursor:pointer;" id="taskbatch-row-${task}">
                                <div style="flex: 5">
                                    ${taskperbatchlist[task].title}
                                </div>
                                <div style="flex: 0.5">
                                 ${checkBox}
                                </div>
                            </li>
                        `
                    body.innerHTML += item
                    }
                })
            })




        }


        function renderList(){
            document.getElementById('form').reset()
            var listWrapper = document.getElementById("list-wrapper")
            var url = "{% url 'api:task-list' %}"
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                var itemList = data
                for (var item in itemList){
                    // para di dumodoble ung content pag nirerender ung get request
                    try{
                        document.getElementById(`data-row-${item}`).remove()
                    }catch(err){

                    }

                    var checkBox = `<span style="color: Green"><i class="fas fa-check-circle statuscheckbox"></i></span>`
                    if(itemList[item].completed == false){
                        checkBox = `<span style="color: Black"><i class="fas fa-times-circle statuscheckbox"></i></span>`
                    }

                    var task = `

                            <div id="data-row-${item}" class="task-wrapper flex-wrapper">
                                <div class="holder" style="flex:7">
                                    <span class="title">${itemList[item].title}</span>
                                </div>
                                <div style="flex: 1.7">
                                    ${itemList[item].batch.batch}
                                </div>
                                <div style="flex: 0.5">
                                  ${checkBox}
                                </div>
                                <div style="flex:0.5; color: Dodgerblue">
                                    <i class="far fa-edit edit"></i>
                                </div>
                                <div style="flex:0.5; color:red">
                                    <i class="far fa-trash-alt delete"></i>
                                </div>
                            </div>
                    `
                    listWrapper.innerHTML += task
                }

                // for deleting a record - updating list. kasi pag wala to nalilipat lang sa taas ng list ung binura
                if (list_snapshot.length > itemList.length){
                    for (var i = itemList.length; i < list_snapshot.length; i++){
                        document.getElementById(`data-row-${i}`).remove()
                    }
                }

                list_snapshot = itemList

                for (var item in itemList){
                    var editButton = document.getElementsByClassName("edit")[item]
                    var deleteButton = document.getElementsByClassName("delete")[item]
                    var holder = document.getElementsByClassName("holder")[item]
                    var statusBox = document.getElementsByClassName("statuscheckbox")[item]

                    editButton.addEventListener("click", (function(task){
                        return function(){
                            editTask(task)
                        }
                    })(itemList[item]))

                    deleteButton.addEventListener("click", (function(task){
                        return function(){
                            deleteTask(task)
                        }
                    })(itemList[item]))

                    holder.addEventListener("click", (function(task){
                        return function(){
                            taskStatus(task)
                        }
                    })(itemList[item]))

                    statusBox.addEventListener("click", (function(task){
                        return function(){
                            taskStatus(task)
                        }
                    })(itemList[item]))


                }
            })
        }


        function editTask(item){
            activeItem = item
            document.getElementById('title').value = activeItem.title
        }

        function deleteTask(item){
            fetch(`http://localhost:8000/api/task-delete/${item.id}/`,{
                method: 'DELETE',
                headers: {
                           'Content-type': 'application/json',
                           'X-CSRFToken' : csrftoken,
                }
            }).then((response) => {
                    renderList()
                    document.getElementById('form').reset()

            })
        }

        function taskStatus(item){
            url = `http://localhost:8000/api/task-update/${item.id}/`
            item.completed = !item.completed
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'data': item,
                },
                body:JSON.stringify({'title':item.title, 'completed':item.completed})
            }).then( function(response){
                renderList()
            })
        }


        try{
            var form = document.getElementById("form")
            form.addEventListener('submit', function(e){
                e.preventDefault()
                var url = "{% url 'api:task-create' %}"
                if(activeItem != null ){
                    url = `http://localhost:8000/api/task-update/${activeItem.id}/`
                    activeItem = null
                }
                var title = document.getElementById('title').value
                fetch(url, {

                    method: 'POST',
                    headers:{
                        'Content-type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({'title':title})
                }).then(function(response){
                    renderList()
                    document.getElementById('form').reset()
                })
            })
        }catch(err){
            console.log(err);
        }

    </script>
{% endblock %}
<!--

        // function renderBatch(){
        //     var url = "{% url 'api:sample' %}"
        //     var batchWrapper = document.getElementById("batch-wrapper")
        //     fetch(url)
        //     .then((response) => response.json())
        //     .then(function(data){
        //         var batchList = data
        //         for (var batch in batchList){
        //             var batch = `

        //             <divclass="task-wrapper flex-wrapper" id="data-row-${batch}" >
        //                 <div style="flex: 7">
        //                     ${batchList[batch].batch}
        //                 </div>
        //                 <div style="flex:0.5; color: Dodgerblue">
        //                     <i class="far fa-edit edit"></i>
        //                 </div>
        //                 <div style="flex:0.5; color:red">
        //                     <i class="far fa-trash-alt delete"></i>
        //                 </div>
        //             </div>

        //             `

        //             batchWrapper.innerHTML += batch
        //         }
        //     })
        // } -->
